@font-face {
    src: url("../font/Minecraft-AE.ttf");
}
.label {
    -fx-font-family: 'Minecraft AE';
    -fx-font-size: 14px;
}

.button {
    -fx-font-family: 'Minecraft AE';
    -fx-font-size: 14px;
}